
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    color: rgb(71, 69, 69);
    font-weight: bold;
}

.list-search {
    display: flex;
    justify-content: flex-end;
}